<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._520.myblog.mapper.UserMapper">

    <resultMap type="com._520.myblog.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="nickname" column="nickName" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="mail" column="mail" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="creattime" column="creatTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          id, nickName, username, password, type, mail, avatar, creatTime, updateTime
        from myblog.user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          id, nickName, username, password, type, mail, avatar, creatTime, updateTime
        from myblog.user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserMap">
        select
          id, nickName, username, password, type, mail, avatar, creatTime, updateTime
        from myblog.user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickName = #{nickname}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="mail != null and mail != ''">
                and mail = #{mail}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="creattime != null">
                and creatTime = #{creattime}
            </if>
            <if test="updatetime != null">
                and updateTime = #{updatetime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into myblog.user(nickName, username, password, type, mail, avatar, creatTime, updateTime)
        values (#{nickname}, #{username}, #{password}, #{type}, #{mail}, #{avatar}, #{creattime}, #{updatetime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update myblog.user
        <set>
            <if test="nickname != null and nickname != ''">
                nickName = #{nickname},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="mail != null and mail != ''">
                mail = #{mail},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="creattime != null">
                creatTime = #{creattime},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from myblog.user where id = #{id}
    </delete>

</mapper>